<a href="https://colab.research.google.com/github/PeddapalliAbhinav/Data_mining/blob/main/Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Code - 1

In [31]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [32]:
data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)

In [33]:
label_encoder = LabelEncoder()
df['label_Encoded'] = label_encoder.fit_transform(df['Category'])

In [34]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)

In [35]:
print(df)

  Category  label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

Code - 2

In [36]:
from datetime import datetime

In [37]:
data = {'Name':['Alice','Bob','Abhinav'],'Date_of_birth':['1990-05-14','1985-08-23','2006-01-31']}
df = pd.DataFrame(data)

In [38]:
df['Date_of_birth'] = pd.to_datetime(df['Date_of_birth'])

In [39]:
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_birth'].dt.year

In [40]:
print(df)

      Name Date_of_birth  Age
0    Alice    1990-05-14   35
1      Bob    1985-08-23   40
2  Abhinav    2006-01-31   19

Code - 3

In [52]:
data = {'Category': ['A','A','B','B','C'],
        'Value': [10,20,10,30,40]}
df = pd.DataFrame(data)

In [53]:
grouped = df.groupby('Category').agg({'Value': ['sum','mean']})
print('Grouped Data:\n',grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [54]:
pivot = df.pivot_table(index='Category',values='Value',aggfunc=['sum','mean'])
print('Pivot Table:\n',pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0